/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Index CSS */

body {
  margin: 0em;
  background-color: #1c1c1c;
  color: white;
  font-family: "Lato", sans-serif;
}

header {
  padding: 0.43em;
}
h1 {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 0.5em;
  margin: 0em;
}

h2 {
  font-size: 32px;
  font-weight: 900;

  margin: 2em 0em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h3 {
  font-size: 21px;
  font-weight: 700;
}

.subheader {
  line-height: 1.7em;
  max-width: 33em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.link-add {
  margin: 1.9em auto 3em;
}

.button {
  width: 15.6em;
  margin: 2em auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 43px;
  min-height: 44px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  background-color: #678fff;
  border-color: #678fff;
  font-weight: 600;
  border-radius: 0.6em;
  white-space: normal;
  color: white;
  text-decoration: none;
}

.biglogo {
  width: 200px;
  margin: 2em;
  margin-top: 4em;
}

main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.9em;
  padding: 0 2.5em;
  margin-bottom: -12em;
  max-width: 71em;
  min-height: 20em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 100;
}

.content-icon {
  width: auto;
  min-height: 72px;
  max-height: 72px;
}

.content-info {
  background: #282828;
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  border: 1px solid #282828;
  background: #282828;
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  padding: 1.55em;
  margin: 0 12px 20px;
  max-width: 90%;
  line-height: 1.6em;
  border-radius: 1.1em;
  width: 332px;
  min-height: 322px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content-link {
  font-weight: 600;
  color: #678fff;
  text-decoration: none;
}

form {
  background-color: #333333;
  padding-left: 1em;
  width: 100%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  height: 2.8em;
  display: flex;
  max-width: 665px;
  border-radius: 0.15em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #333333;
  color: #999;
  font-size: 1.1em;
}

input::placeholder {
  color: #999;
  font-family: "Lato", sans-serif;
}

input[type="image"] {
  box-sizing: border-box;
  border: none;
  color: #999;
  padding: 0.9em;
}

input[type="image"]:hover {
  background-color: #444444;
}

.onboarding-text {
  line-height: 1.25em;
  font-size: 17px;
}

.btn-onboarding {
  background-color: #333333;
  border-color: transparent;
  color: #eeeeee;
  margin-top: 25px;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  font-size: 18px;
  display: inline-block;
  border-radius: 10px;
}

.btn-onboarding:hover {
  background-color: #444444;
  background: rgba(0, 0, 0, 0.5);
}

.onboarding-content {
  width: 70%;
  margin: 6.25em;
  max-width: 44em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content-info__curve {
  position: relative;
  color: #58b792;
  width: 100%;
  margin-bottom: -10px;
}

.onboarding {
  position: relative;
  background: #58b792;
  height: auto;
  padding-top: 5em;
}

.onboarding__img {
  width: 100%;
}

.faq {
  margin-top: 6.25em;
  padding: 0em 1.25em;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

/* Accordion CSS*/

.text {
  line-height: 1.8;
}

.text-link {
  font-weight: 600;
  color: #678fff;
  text-decoration: none;
}
.accordionItem {
  float: left;
  display: block;
  width: 100%;
  border-top: 1px solid #333333;
  padding-left: 50px;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
}
.open .accordionItemContent {
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

/*how to install page CSS*/

.body2 {
  background-color: white;
}

.hero {
  padding-bottom: 0.5em;
  padding-top: 1.5em;
  line-height: 1.2em;
  font-weight: 600;
  font-size: 2.5em;
  background-color: #66abff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 60px;
}

.heroimg {
  position: relative;
  top: 9px;
  max-width: 800px;
  width: 100%;
}

.step-counter {
  background: #de5833;
  border-radius: 100%;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  padding: 0;
  margin-bottom: 2em;
}

.steps {
  max-width: 700px;
  margin: 0 50px;
}

.step-img {
  width: 100%;
  max-width: 315px;
  border: 3px solid #ededed;
}

.step-desc {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  margin: 0px;
  padding-bottom: 0.25em;
}
